<% content_for :title do %>Freifunk-Netzwerk-Übersicht<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="NodeCountGraph" data-view="Graph" data-title="aktuelle Knoten-Anzahl" style="background-color:#ff9618" data-moreinfo="" data-prefix=""></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Guten Tag" 
           data-text="Hier eine kleine Übersicht über das &nbsp; Paderborner Freifunk-Netz" 
           data-moreinfo=""
           style="background-image:url(/assets/ffpb-blass.png); background-repeat:no-repeat; background-color:#fff; background-position:50% 50%">
      </div>
<!--
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Guten Tag" 
           data-text="Hier eine kleine Übersicht über das &nbsp; Paderborner Freifunk-Netz" 
           data-moreinfo="Aktuell im Entwicklungs-Zustand"
           style="background-image:url(/assets/ffpb-blass.png); background-repeat:no-repeat; background-color:#fff; background-position:50% 50%">
    </div>
-->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ClientCountGraph" data-view="Graph" data-title="aktuelle Nutzeranzahl" style="background-color:#96bf48;" data-moreinfo="" data-prefix=""></div>
    </li>
      
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="maxNodeCount" data-view="Highscore" data-title="Unser Knoten-Highscore" style="background-color:#ff9618"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="traffic_sum" data-view="Graphitegraph" data-title="aktueller VPN-Traffic" data-moreinfo="Bytes pro Sekunde" data-suffix=""></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="maxClientCount" data-view="Highscore" data-title="Unser Client-Highscore" style="background-color:#96bf48;"></div>
    </li>
<!-- 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ClientNodecountFrame" data-view="Iframe" style="background-color:#fff"></div>
    </li>
   
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="testNumber" data-view="Number" data-title="Test-Kachel" style="background-color:#47bbb3"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uniqueClientCount" data-view="Graph" data-title="Verschiedene Clients pro Tag" style="background-color:#47bbb3;" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lastNodes" data-view="List" data-unordered="false" data-title="Die neuesten Knoten" data-moreinfo=""></div>
    </li>
  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aktNodeCount" data-view="Number" data-title="aktuelle Knoten-Anzahl" style="background-color:#ff9618"></div>
    </li>    
     
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aktClientCount" data-view="Number" data-title="aktuelle Client-Anzahl" style="background-color:#96bf48;"></div>
    </li>
   
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #todayilearned"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/ff_logo.png" style="background-color:#F7F5E7;"></div>
    </li>
--> 
  </ul>
</div>
