<% content_for :title do %>Freifunk-Netzwerk-Übersicht<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="NodeCountGraph" data-view="Graph" data-title="Knoten (online)" style="background-color:#ff9618" data-moreinfo="" data-prefix=""></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Guten Tag" 
           data-text="Hier eine kleine Übersicht über das &nbsp; Paderborner Freifunk-Netz" 
           data-moreinfo=""
           style="background-image:url(/assets/ffpb-blass.png); background-repeat:no-repeat; background-color:#fff; background-position:50% 50%">
      </div>
<!--
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Guten Tag" 
           data-text="Hier eine kleine Übersicht über das &nbsp; Paderborner Freifunk-Netz" 
           data-moreinfo="Aktuell im Entwicklungs-Zustand"
           style="background-image:url(/assets/ffpb-blass.png); background-repeat:no-repeat; background-color:#fff; background-position:50% 50%">
    </div>
-->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ClientCountGraph" data-view="Graph" data-title="Clients (online)" style="background-color:#96bf48;" data-moreinfo="" data-prefix=""></div>
    </li>
      
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="maxNodeCount" data-view="Highscore"  data-title="Knoten (Highscore)" style="background-color:#ff9618"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="traffic_sum" data-view="Graphitegraph" data-title="aktueller VPN-Traffic" data-moreinfo="Bytes pro Sekunde" data-suffix=""></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="maxClientCount" data-view="Highscore" data-title="Clients (Highscore)" style="background-color:#96bf48;"></div>
    </li>
  </ul>
</div>
